doctype
head
	title= title
	meta(charset='utf-8')
	link(rel='stylesheet' href='/generated/main.css')
	script(src='/generated/app.js')
body
	.wrap
		.top-bg
		header.header
			.logo.header__logo(onclick="location.href='index'") CTFight
			a.header__link.btn(href='index')= __('main')
			a.header__link.btn(href='teams')= __('teams')
			a.header__link.btn.btn--important.btn--shine(href='request')= __('participate')
		block content
	footer.footer
		.footer__left-links
			a(href='https://github.com/ctfight').link.footer__link github
			a(href='mailto:mrseakg@gmail.com').link.footer__link e-mail
		.logo.footer__logo CTFight
		.footer__right-links
			a(href='http://keva.su').link.footer__link keva
			a(href='https://vk.com/ctfight').link.footer__link vk
		.footer__langs
			a(href='/ru') Русский
			a(href='/en') English
			a(href='/de') Deutsch
