webfont("Avenir Next Cyr", "AvenirNextCyr-Medium", 600)
webfont("Avenir Next Cyr", "AvenirNextCyr-Regular", 400)
webfont("Avenir Next Cyr", "AvenirNextCyr-Light", 200)
webfont("Avenir Next Cyr", "AvenirNextCyr-UltraLight", 100)
