medium_font = 600
regular_font = 400
light_font = 100

webfont("Avenir Next Cyr", "AvenirNextCyr-Medium", 600)
webfont("Avenir Next Cyr", "AvenirNextCyr-Regular", 400)
webfont("Avenir Next Cyr", "AvenirNextCyr-Light", 200)
