medium_font = 800
regular_font = 400
light_font = 100

webfont("Avenir Next Cyr", "AvenirNextCyr-Medium", medium-font)
webfont("Avenir Next Cyr", "AvenirNextCyr-Regular", regular-font)
webfont("Avenir Next Cyr", "AvenirNextCyr-Light", light-font)
