
.footer
	position relative
	&__logo
		absolute: top
		left calc(50% - 110px)
		color color_slate-gray
		margin 0 auto
		margin-top 60px
	&__link
		text-transform uppercase
		color color_slate-gray
		font-weight normal
		link-gradation @color, 2px
		line-height 100px
