
footer-height = 150px
.footer
	position relative
	height footer-height
	user-select none
	background color_ebony-clay
	&__logo
		absolute: top -13px
		left calc(50% - 110px)
		color color_slate-gray
		margin 0 auto
		margin-top 60px
	&__link
		text-transform uppercase
		color color_slate-gray
		font-size 20px
		font-weight 400
		link-gradation @color, 2px
		line-height footer-height
		margin 0 20px
	&__left-links
		width calc(50% - 190px)
		text-align right
	&__right-links
		float right
		width calc(50% - 190px)
		margin-top -(footer-height)

	@extend .wrap
	min-height 0
