body
	font-family "Helvetica Nueu", Helvetica, Arial

h1, h2, h3, h4, h5, h6
	font-weight 400

.btn
	font-size 20px
	font-weight 100
	color color_blue-chalk
	text-transform uppercase
	padding 20px 25px
	border-radius 5px
	border solid transparent 1px
	background transparent
	transition color animation_fast, border animation_fast, background animation_fast
	&:hover
		background alpha(color_blue-marguerite, .2)
		border solid color_blue-marguerite 1px
	&:active
		transition none
		background alpha(color_blue-marguerite, .5)
	&--important
		color color_wisteria
		border solid color_wisteria 1px


