body
	font-family "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif
	font-weight 200
	color color_blue-chalk
	width 100%

.wrap
	max-width 1440px
	min-width 900px
	width auto !important  // Firefox will set width as auto
	width @min-width
	overflow hidden
	min-height calc(100vh - 150px)

 .top-bg
	background-color #33104d
	image '/images/top-bg.png'
	height 840px
	margin-bottom -@height
	width 100%
	z-index -1

.btn
	display inline-block
	font-size 20px
	color color_blue-chalk
	text-decoration none
	text-transform uppercase
	cursor pointer
	padding 22px 25px 18px
	border-radius 5px
	border solid transparent 1px
	background transparent
	transition-property color, border, background, box-shadow
	transition-duration animation_fast
	&:hover
		background alpha(color_blue-marguerite, .2)
		border solid color_wisteria 1px
	&:active
		transition none
		background alpha(color_blue-marguerite, .5)
	&--important
		color color_wisteria
		border solid color_wisteria 1px
	&--shine:hover
		box-shadow 0 0 15px 2px alpha(white, .2)
	&--submit
		background alpha(white, .9)
		border solid 1px color_wisteria
		color color_wisteria
		&:hover
			background white
		&:active
			transition none
			box-shadow 0 0 15px 2px alpha(white, .2)


.input
	width 400px
	font-size 14px
	color color_wisteria
	padding 20px
	border-radius 5px
	border solid color_wisteria 1px
	background transparent
	transition-property color, border, background, box-shadow
	transition-duration animation_fast
	outline none

	+placeholder()
		color color_dim-wisteria

	mode(percent)
		border-color tint(color_wisteria, percent)
		& ~ .input--mark
			background @border-color
		& ~ .input--file
			box-shadow inset 0 0 0 1px @border-color
	&:hover
		mode 40%
	&:focus
		mode 80%

	&--shine:hover
		box-shadow 0 0 15px 2px alpha(white, .5)
	&--rich
		position relative
		display inline-table
	&--mark
		absolute: top
		size 9px 100%
		border-radius 5px 0 0 5px
		background color_wisteria
		cursor default
		transition background animation_fast
		&:before
			content attr(data-title)
			color shade(color_wisteria, 10%)
			absolute: top 8px right 9px
			padding-right 20px
			size 500px 42px
			line-height @height
			background url(/images/input--mark__bg.svg) no-repeat
			background-position right top
			text-align right
			opacity 0
			transition opacity animation_fast
		&:hover:before
			opacity 1

	&--file
		absolute top right
		text-align center
		overflow hidden
		size 120px 100%
		background alpha(white, .9)
		border-radius 0 5px 5px 0
		box-shadow inset 0 0 0 1px color_wisteria
		transition box-shadow animation_fast
		&:hover
			background white
			box-shadow 0 0 15px 2px alpha(white, .5)
		&__view
			color color_wisteria
			font-size 18px
			// padding-top 20px
			line-height 62px
			text-transform uppercase
		&__input
			cursor pointer
			margin-top -50px
			margin-left -410px
			opacity 0
			font-size 150px

	~ .tip
		opacity 0
		transition-property opacity, height, width
		transition-duration animation_fast
	&:focus ~ .tip
		opacity 1

.tip
	pointer-events none
	absolute: top -7px left 100%
	background url(/images/tip__bg.svg) no-repeat
	size 500px 400px
	z-index 10
	&__title
		font-size 21px
		color color_wisteria
		margin 16px 32px 0
	&__text
		font-size 17px
		color color_dim-wisteria
		margin 5px 32px

.link
	cursor pointer
	color color_blue-marguerite
	text-decoration none
	transition box-shadow, color
	transition-duration animation_fast
	link-gradation @color, 1px

.logo
	background url(/images/logo--gray.svg) no-repeat
	background-size 63px auto
	size 86px

	user-select none
	font-size 49px
	box-sizing border-box
	padding 2px 55px
	&:after
		content 'Fight'
		text-decoration underline
