
.header
	position relative
	text-align right
	padding 35px 70px

	&__link
		margin-left 30px

	&__logo
		absolute: top 30px left 20px
		background url(/images/logo.svg) no-repeat 10px
		background-size 63px auto
		background-position 0 0
		margin 0
		padding 0
		size 86px
		float left
		cursor pointer

		font-size 49px
		color color_wisteria
		box-sizing border-box
		padding 2px 55px
		&:after
			content 'Fight'
			text-decoration underline
