
.header
	position relative
	text-align right
	padding 35px 70px

	&__link
		margin-left 30px

	&__logo
		absolute: top 30px left 20px
		background url(/images/logo.svg) no-repeat
		float left

		color color_wisteria
