
.index-top
	margin 40px auto 270px
	width 1100px
	min-height 300px
	&__logo
		float left
	&__info
		display inline-block
		width 450px
		margin 90px 0 40px 80px
		font-weight 100
		font-size 25px

.remind-form
	position relative
	&__input
		margin-left 55px
		&:before
			content attr(data-info)
			absolute: top -23px left 10px
			font-weight 200
			font-size 14px
			color color_wisteria
		input
			width 280px
	&__submit
		width 170px
		margin-left 30px
		padding 16px 0 18px

.index-rulers
	background-color color_martinique
	min-height 470px
	&__wrap
		position relative
		margin auto
		padding 100px 0
		width 900px
		// height 400px
	&__info
		width 410px
		font-size 20px
		font-weight 100
		display inline-block
	&__download
		position absolute
		display inline-block
		size 400px 230px
		margin-left 50px
		padding 20px 0
		text-align center
		a
			width 300px
			margin 5px

.do-it
	background color_ebony-clay
	height 500px
	text-align center
	&__btn
		margin-top 250px
