.notification__wrap
	width 600px
	margin 0 auto

.notification
	display table-cell
	padding 10px
	font-size 20px
	font-weight 100
	vertical-align middle
	text-align center
	height calc(100vh - 410px)
	width 600px

.to-index
	text-align center
	margin-top 10px
