@import 'nib'
vendor-prefixes = moz webkit ms o official
support-for-ie = false

html, body { min-height: 100% }
.humane
.humane-jackedup
	position   : fixed
	transition : all .6s ease-in-out
	z-index    : 100000

.humane
.humane-jackedup
	font-family      : Helvetica Neue, Helvetica, san-serif
	font-size        : 18px
	letter-spacing   : -1px
	top              : 20px
	left             : 30%
	opacity          : 0
	width            : 40%
	color            : #333
	padding          : 10px
	text-align       : center
	background-color : #fff
	border-radius    : 3px
	text-shadow      : 0 1px 1px rgba(rgba(255,255,255,.8))
	box-shadow       : 0 1px 2px rgba(0,0,0,.5)
	transform        : translateY(-100px)
	p, ul
		margin: 0
		padding: 0
	ul
		list-style: none
	&.humane-jackedup-info
		background-color  : #fff
		color             : #fff
		text-shadow       : 0 -1px 1px rgba(0,0,0,.35)
	&.humane-jackedup-success
		background-color  : rgb(100,255,100)
		color             : #fff
		text-shadow       : 0 -1px 1px rgba(0,0,0,.35)
	&.humane-jackedup-error
		background-color  : rgb(238,95,91)
		color             : #fff
		text-shadow       : 0 -1px 1px rgba(rgba(0,0,0,.35))

.humane-animate
.humane-jackedup.humane-jackedup-animate
	opacity   : 1
	transform : translateY(0)
	&:hover
		opacity : .7

.humane-js-animate
.humane-jackedup.humane-jackedup-js-animate
	opacity   : 1
	transform : translateY(0)
	&:hover
		opacity : 0.7
