
.teams-block
	&__title
		font-size 25px
		text-align center

	&__teams
		margin 0 auto
		width 424px

.team
	position relative
	display inline-table
	margin 15px 30px

	&__verified-mark
		_height = 30px
		background alpha(color_good_yellow, .7)
		color color_ebony-clay
		font-size 14px
		font-weight 400
		line-height _height
		text-align center
		overflow hidden
		size 152px 2px
		transition height animation_fast
		&__wrap
			absolute: top
			height _height
			overflow hidden
			border-radius 5px 5px 0 0
		.team:hover &
			height _height

	&--verified .team__verified-mark
		background alpha(color_good_green, .7)

	&--left
		position relative
		text-align right
		.team__name, .team__info
			right 160px
		// &:after
		// 	content 'VS'
		// 	absolute top 58px right -48px
		// 	font-size 30px
		// 	font-weight 100
		// 	text-align center
	&--right
		.team__name, .team__info
			left 160px

	&__name, &__info
		absolute: top 10px
		width 400px
	&__name
		color color_east-side
	&__info
		margin-top 25px
		font-weight 100
		color color_east-side

	&__logo
		size 150px
		border 1px solid color_blue-marguerite
		border-radius 5px
		background color_ebony-clay
		&--empty
			background color_ebony-clay url(/images/no-logo.svg) no-repeat center bottom

	&__plus
		background color_ebony-clay url(/images/plus-logo.svg) no-repeat center
		cursor pointer
		&:hover
			background-color tint(color_ebony-clay, 5%)
		&:active
			background-color tint(color_ebony-clay, 10%)

