color_wisteria ?= #9c72b8
color_dim-wisteria ?= shade(color_wisteria, 15%) // darken(desaturate(color_wisteria, 20%), 20%)
color_martinique ?= #30334a
color_ebony-clay ?= #202434
color_slate-gray ?= #64728a
color_blue-marguerite ?= #7a6ebd
color_blue-chalk ?= #e7e2ff
color_east-side ?= #b792cf
color_lavender ?= #c55de3

animation_fast ?= .2s
