doctype
head
	title request
	meta(charset='utf-8')
	link(rel='stylesheet' href='/generated/main.css')
	script(src='/generated/app.js')
body
	a(href='index') index
	a(href='request') request
	a(href='teams') teams
	block content
