doctype
head
	title Участвовать в CTFight
	meta(charset='utf-8')
	link(rel='stylesheet' href='/generated/main.css')
	script(src='/generated/app.js')
body
	.wrap
		.top-bg
		header.header
			.logo.header__logo(onclick="location.href='index'") CT
			a.header__link.btn(href='index') что это?
			a.header__link.btn(href='teams') участники
			a.header__link.btn.btn--important.btn--shine(href='request') участвовать
		block content
	footer.footer
		.footer__left-links
			a(href='https://github.com/ctfight').link.footer__link github
			a(href='mailto://mrseakg@gmail.com').link.footer__link e-mail
		.logo.footer__logo CT
		.footer__right-links
			a(href='http://keva.su').link.footer__link keva
			a(href='https://vk.com/ctfight').link.footer__link vk
