extends layout

block content
	form(method='post').request-form
		.input--rich.request-form__input
			input.input(placeholder='Название команды' autofocus)
			.input--mark(data-title='Обязательно')
			.tip
				.tip__title Название команды
				.tip__text Вы сможете изменить название позже

		.input--rich.request-form__input
			input.input(placeholder='Логотип (ссылка или файл)')
			.input--file
				.input--file__view выбрать
				input.input--file__input(type='file')
			.tip
				.tip__title Логотип
				.tip__text Вставьте ссылку или выберите файл с компьютера. Размер файла должен быть не менее 100x100 и не более 1000x1000.

		.input--rich.request-form__input
			input.input(placeholder='Город')
			.tip
				.tip__title Город
				.tip__text Укажите город или города, если у вас сборная команда

		.input--rich.request-form__input
			input.input(placeholder='Университет')
			.tip
				.tip__title Университет
				.tip__text Укажите университет или университеты, если у вас сборная команда. Вы можете оставить это поле пустым, если не учитесь.

		.input--rich.request-form__input
			input.input(placeholder='Сервис (ссылка или файл)')
			.input--mark(data-title='Обязательно')
			.input--file
				.input--file__view выбрать
				input.input--file__input(type='file')
			.tip
				.tip__title Сервис
				.tip__text Вставьте ссылку или выберите файл. Сервис должен содержать не менее двух уязвимостей. Не забудьте добавить deb-package или инструкцию по установке. Железо для запуска сервиса предоставляет команда keva.

		.input--rich.request-form__input
			input.input(placeholder='Видео-разбор (ссылка или файл)')
			.input--mark(data-title='Обязательно')
			.input--file
				.input--file__view выбрать
				input.input--file__input(type='file')
			.tip
				.tip__title Видео-разбор
				.tip__text Разбор уязвимостей. Постарайтесь уложиться в 20 минут.

		.input--rich.request-form__input
			input.input(placeholder='Автор или авторы сервиса')
			.tip
				.tip__title Автор или авторы сервиса
				.tip__text Добавьте автора, авторов и/или команду, разработавшую сервис. По умолчанию это ваша команда.

		.input--rich.request-form__input
			input(type='submit').btn.btn--submit.request-form__submit
