doctype
head
	title CTFight | Guideline
	meta(charset='utf-8')
	link(rel='stylesheet' href='/generated/styleguide.css')
	link(rel='stylesheet' href='/generated/main.css')
	link(rel='stylesheet' href='/prism/prism.css')
	script(src='/generated/app.js')
body.styleguide-page
	.content
		:marked
			# CTFight Application Styleguide
			Read it to understand why you need styleguide - [Создание руководства по стилю (Russian)](http://frontender.info/creating-style-guides)

			# Color palette used

		.color-pallete
			.color-pallete__element.color_wisteria Wisteria
			.color-pallete__element.color_martinique Martinique
			.color-pallete__element.color_ebony-clay Ebony Clay
			.color-pallete__element.color_slate-gray Slate Gray
			.color-pallete__element.color_blue-marguerite Blue Marguerite
			.color-pallete__element.color_blue-chalk Blue Chalk
			.color-pallete__element.color_east-side East Side

		:marked
			# Buttons
			Use tag `a` and class `.btn` for buttons.  
			There are modifiers `.btn--important`, `.btn--shine`, `.btn--submit`

		details
			summary Buttons example
			style.
				.btn { margin: 10px }
			:jadelive
				bg-violet
				a(href='').btn text button
				a(href='').btn.btn--important important button
				a(href='').btn.btn--important.btn--shine important shine button
				a(href='').btn.btn--submit submit button

		h1 Inputs

		h3 Standart input
		details
			summary Example
			:jadelive
				bg-violet
				input.input(placeholder='placeholder')

		h3 Input shine on hover
		details
			summary Example
			:jadelive
				bg-violet
				input.input.input--shine(placeholder='placeholder')

		h2 Rich input
		p Rich input allow use mark, tip and file choice for input field
		h3 Connect structure
		p
			mark IMPORTANT!
			span  Use this order to connect the features for input field
		:marked
			* `.input--rich`
				* `input.input`
				* `.input--mark`
				* `.input--file`
				* `.tip`

		details
			summary Example - All connected
			:jadelive
				bg-violet
				div(style='height: 120px; padding-left: 150px')
					.input--rich
						input.input(placeholder='Логотип (ссылка или файл)')
						.input--mark(data-title='Обязательно')
						.input--file
							.input--file__view выбрать
							input.input--file__input(type='file')
						.tip
							.tip__title Логотип
							.tip__text Вставьте ссылку или выберите файл с компьютера. Размер должен быть не менее 100x100 и не более 1000x1000.

		h3 Input with mark
		details
			summary Example - Mark
			:jadelive
				bg-violet
				div(style='padding-left: 150px')
					.input--rich
						input.input(placeholder='Название команды')
						.input--mark(data-title='Обязательно')

		h3 Input with tip
		details
			summary Example - Tip
			:jadelive
				bg-violet
				div(style='height: 120px; padding: 20px')
					.input--rich
						input.input(placeholder='Название команды')
						.tip
							.tip__title Название команды
							.tip__text Вы сможете изменить название позже

		h3 Input with file choice
		details
			summary Example - File choice
			:jadelive
				bg-violet
				.input--rich
					input.input(placeholder='Логотип (ссылка или файл)')
					.input--file
						.input--file__view выбрать
						input.input--file__input(type='file')

		h1 Links
		:marked
			Use tag `a` and class `.link` for links  
			There are modifiers `.link-upper`, `.link-dim`
		h2 Simple links
		details
			summary Example - Simple links
			:jadelive
				martinique
				a(href='https://github.com').link GitHub
				a(href='mailto:nitive@icloud.com').link e-mail
				a(href='https://twitter.com').link Twitter
				a(href='https://vk.com/ctfight').link.link--upper vk

		h2 Footer links
		details
			summary Example - Footer links
			:jadelive
				ebony
				a(href='/index').link.link--upper.link--dim index
				a(href='/request').link.link--upper.link--dim request
				a(href='/teams').link.link--upper.link--dim teams
				a(href='https://vk.com/ctfight').link.link--upper.link--dim vk

		h1 Header
		details(open)
			summary Header
				:jadelive
					bg-violet
					header.header
						.logo.header__logo CT
						a.header__link.btn(href='index') index
						a.header__link.btn(href='request') request
						a.header__link.btn.btn--important.btn--shine(href='teams') teams

	div(style='height: 300px')

	script(src='/prism/prism.js')
