doctype
head
	title CTFight | Guideline
	meta(charset='utf-8')
	link(rel='stylesheet' href='/generated/main.css')
	link(rel='stylesheet' href='/generated/styleguide.css')
	link(rel='stylesheet' href='/prism/prism.css')
	script(src='/generated/app.js')
body.styleguide-page
	.content
		:markdown
			# CTFight Application Styleguide
			Read it to understand why you need styleguide - [Создание руководства по стилю (Russian)](http://frontender.info/creating-style-guides)

			# Color palette used

		.color-pallete
			.color-pallete__element.color_wisteria Wisteria
			.color-pallete__element.color_martinique Martinique
			.color-pallete__element.color_ebony-clay Ebony Clay
			.color-pallete__element.color_slate-gray Slate Gray
			.color-pallete__element.color_blue-marguerite Blue Marguerite
			.color-pallete__element.color_blue-chalk Blue Chalk
			.color-pallete__element.color_east-side East Side

		h1 Buttons
		style
			| .btn { margin: 10px 15px }
		.bg-violet
			button.btn text button
			button.btn.btn--important important button
			button.btn.btn--important.btn--shine important shine button
			button.btn.btn--submit submit button
		:jade
			button.btn text button
			button.btn.btn--important important button
			button.btn.btn--important.btn--shine important shine button
			button.btn.btn--submit submit button

		h1 Inputs
		style
			| .bg-violet > * { display: block; margin: 20px 15px }
		.bg-violet
			input.input(placeholder='e-mail address')
			input.input.input--shine(placeholder='e-mail address')
			div
				.input--rich(style='margin-left: 200px')
					input.input(placeholder='e-mail address')
					.input--necessary
		:jade
			input.input(placeholder='e-mail address')
			input.input.input--shine(placeholder='e-mail address')
			div
				.input--rich(style='margin-left: 200px')
					input.input(placeholder='e-mail address')
					.input--necessary Some text

		div(style='height: 300px')

	script(src='/prism/prism.js')
