@import bootstrap

body
	background white

.top-bg
	height 120px
	margin-bottom (-@height)


.container
	margin-left auto
	margin-right auto
	width 800px

	.title
		margin-top 50px
		margin-bottom 30px

.form-block
	padding 50px
	border 1px solid gray
	border-radius 5px
	margin-bottom 50px

	.team-logo
		padding 5px
		float left

	.right
		float right

	h1.btn
		small
			color #f0eae8

