@import 'modules/variables'


.styleguide-page
	font-family Helvetica
	font-size 18px
	background #556070

	h1
		border-bottom: 1px solid #ddd;
		padding-top 50px
	h2
		border-bottom: 1px solid #aaa;
		padding-top 20px
	h3
		padding-top 10px

	code
		font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		padding 2px 5px
		line-height 2
		background-color: rgba(0,0,0,0.4);
		color #ff2e80
		border-radius: 3px;

	summary
		outline none
		cursor pointer
	.content
		margin 0 auto
		padding 0 20px
		max-width 1100px

	.color-pallete
		padding 10px
		&__element
			position relative
			margin-left 30px
			line-height 30px
			font-weight bold
			&:before
				content ''
				position absolute
				margin-left -35px
				size 28px
			&:after
				absolute: left 200px
				font-weight normal

	.color_
		&wisteria:before
			background color_wisteria
		&wisteria:after
			content s('"color_wisteria = %s"', color_wisteria)
		&martinique:before
			background color_martinique
		&martinique:after
			content s('"color_martinique = %s"', color_martinique)
		&ebony-clay:before
			background color_ebony-clay
		&ebony-clay:after
			content s('"color_ebony-clay = %s"', color_ebony-clay)
		&slate-gray:before
			background color_slate-gray
		&slate-gray:after
			content s('"color_slate-gray = %s"', color_slate-gray)
		&blue-marguerite:before
			background color_blue-marguerite
		&blue-marguerite:after
			content s('"color_blue-marguerite = %s"', color_blue-marguerite)
		&blue-chalk:before
			background color_blue-chalk
		&blue-chalk:after
			content s('"color_blue-chalk = %s"', color_blue-chalk)
		&east-side:before
			background color_east-side
		&east-side:after
			content s('"color_east-side = %s"', color_east-side)

	.bg-violet
		image '/images/top-bg.png'
		background-size cover
		padding 10px
		color white
		border-radius 5px
	.ebony
		background color_ebony-clay
		padding 10px
		border-radius 5px

	.hl
		position relative
		border-radius 5px
		&:after
			content attr(data-lang)
			absolute: bottom right
			background-color #071217
			color white
			padding 5px
			border-top-left-radius 5px

